<body>
    <div class="content">
        <img src="images/thank_you.png" alt="" style="width: 50%; padding-left:25%">
        {{#if message}}
            <div 
                style="text-align: CENTER;
                        font-size: 30px;
                        margin-bottom: 20px;
                        border-bottom: 2px solid;
                        border: 1px solid darkseagreen;
                        padding: 10px;
                        border-radius: 5px;
                        background: darkseagreen;">{{message}}</div>
        {{/if}}
    </div>

</body>