 <body></body>   
    <div class="content">

        <section class="photo-gallery">
            <table id="photo-gallery-table">
                <caption>Some Multimedia files by Suraj Rimal</caption>
                <tbody>
                    <tr>
                        <th colspan="3">
                            <video width="100%" controls>
                                <source src = "https://cdn.videvo.net/videvo_files/video/free/2018-01/small_watermarked/171124_H1_006_preview.webm" type="video/webm">
                            </video>
                            <br> <br>
                            <audio style="width: 100%;"
                            src = "https://www.fesliyanstudios.com/musicfiles/2019-12-13_-_In_The_Light_-_FesliyanStudios.com_-_David_Renda/2019-12-13_-_In_The_Light_-_FesliyanStudios.com_-_David_Renda.mp3" preload="auto"
                            controls = "controls"></audio>
                        </th>
                        </tr>
                        <tr>
                            <td><a href="images/3.jpg"><img src="images/3.jpg" width="100" height="200"  alt="Campus Lake" title="Campus lake,SIUC"></a></td>
                            <td><a href="images/4.jpg"><img src="images/4.jpg" width="100" height="200"  alt="Kentucky" title="Kentucky"></a></td>
                            <td><a href="images/5.jpg"><img src="images/5.jpg" width="100" height="200"  alt="Court House"></a></td>
                        </tr>
                        <tr>
                            <td><a href="images/6.jpg"><img src="images/6.jpg" width="100" height="200"  alt="Chicago" title="Downtown, Chicago"></a></td>
                            <td><a href="images/7.jpg"><img src="images/7.jpg" width="100" height="200"  alt="Flower" title="Carbondale"></a></td>
                            <td><a href="images/8.jpg"><img src="images/8.jpg" width="100" height="200"  alt="Unkwown"></a></td>
                        </tr>
                </tbody>
            </table>
        </section>
    </div>
</body>