<body>
    <div class="content">
        <section class="image-bio">
            <aside>
                <header>
                    <h4><u>Suraj Rimal</u></h4>
                    <h5>Welcome to my website! Let me introduce myself. I am Suraj Rimal. Currently, I am studying Master’s of Science in Computer Science at Southern Illinois University Carbondale, Carbondale <abbr title="Illinois">IL</abbr>, and also working as a Graduate Research Assistant(GRA). Playing  soccer, watching movies, travelling, listening music, etc are my hobbies.
                    </h5>
                </header>
            </aside>
            <!-- -->
            <img src="images/profile.jpg"/>
            
        </section>
        
        <section>
            <article>
                <blockquote cite="http://www.google.com">
                    <q>We are not enemies, but friends. We must not be enemies. Though passion may have strained, it must not break our bonds of affection. The mystic chords of memory will swell when again touched, as surely they will be, by the better angels of our nature.</q>
                    <div class="float-right"><strong>-- Abraham Lincoln</strong></div>
                </blockquote>
            </article>
            <br>
            <article>
                <blockquote cite="http://www.google.com">
                    <q>Be yourself; everyone else is already taken.</q>
                    <div class="float-right"><strong>-- Oscar Wilde</strong></div>
                </blockquote>
            </article>
        </section>
        <section class="weekly-schedule">
            <table>
                <caption>Weekly Schedule</caption>
                <tbody>
                    <tr>
                        <td>
                            <div class="day-container">
                                <div class="weekday">Mon</div>
                                <div class="work"><img src="./images/icon_work.png" alt="work"> 7 - 11am</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 1 - 4pm</div>
                                <div class="work"><img src="./images/icon_soccer.png" alt="work"> 6 - 8pm</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 10 - 11pm</div>
                            </div>
                        </td>
                        <td>
                            <div class="day-container">
                                <div class="weekday">Tue</div>
                                <div class="work"><img src="./images/icon_work.png" alt="work"> 7 - 11am</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 1 - 4pm</div>
                                <div class="work"><img src="./images/icon_gaming.png" alt="work"> 6 - 8pm</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 10 - 11pm</div>
                            </div>
                        </td>
                        <td>
                            <div class="day-container">
                                <div class="weekday">Wed</div>
                                <div class="work"><img src="./images/icon_work.png" alt="work"> 7 - 11am</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 1 - 4pm</div>
                                <div class="work"><img src="./images/icon_soccer.png" alt="work"> 6 - 8pm</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 10 - 11pm</div>
                            </div>
                        </td>
                        <td>
                            <div class="day-container">
                                <div class="weekday">Thu</div>
                                <div class="work"><img src="./images/icon_work.png" alt="work"> 7 - 11am</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 1 - 4pm</div>
                                <div class="work"><img src="./images/icon_gaming.png" alt="work"> 6 - 8pm</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 10 - 11pm</div>
                            </div>
                        </td>
                        <td>
                            <div class="day-container">
                                <div class="weekday">Fri</div>
                                <div class="work"><img src="./images/icon_work.png" alt="work"> 7 - 11am</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 1 - 4pm</div>
                                <div class="work"><img src="./images/icon_soccer.png" alt="work"> 6 - 8pm</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 10 - 11pm</div>
                            </div>
                        </td>
                        <td>
                            <div class="day-container">
                                <div class="weekend">Sat</div>
                                <div class="work"><img src="./images/icon_cycling.png" alt="work"> 9 - 11am</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 1 - 4pm</div>
                                <div class="work"><img src="./images/icon_gaming.png" alt="work"> 6 - 8pm</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 10 - 11pm</div>
                            </div>
                        </td>
                        <td>
                            <div class="day-container">
                                <div class="weekend">Sun</div>
                                <div class="work"><img src="./images/icon_cloth.png" alt="work"> 10 - 12pm</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 1 - 4pm</div>
                                <div class="work"><img src="./images/icon_soccer.png" alt="work"> 6 - 8pm</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 10 - 11pm</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <small>My weekly Schedule from June 8<sup>th</sup> to July 31<sup>st</sup></small>
        </section>
    </div>
</body>
