<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Suraj Rimal">
		<title>{{title}}</title>
		<link rel="icon" href="./images/favicon.ico">
		<link href='https://fonts.googleapis.com/css?family=Almendra' rel='stylesheet'>
		<link rel="stylesheet" href="/stylesheets/styles.css" >
		<script src="/javascripts/feedback.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
	</head>
	<body>
		<div class="navigation-container">
			<img src="./images/wall.jpg" alt="">
			<nav class="main-navigation">
				<a href="/">Home</a>
				<a href="gallery">Gallery</a>
				<a href="game">Game</a>
				<a href="feedback">Leave Feedback</a>
			</nav>
		</div>
        {{{body}}}
        <footer>
				<table>
					<tbody>
						<tr>
							<td>
                                Designed by: <strong>Suraj Rimal</strong>
                                <br>
                                <br>
								<div class="social-icons">
									<a href=""><img src="./images/icon_facebook.png" alt=""></a>
									<a href=""><img src="./images/icon_linkedin.png" alt=""></a>
									<a href=""><img src="./images/icon_twitter.png" alt=""></a>
								</div>
							</td>
							<td>
								<div class="newsletter">
									<small>	Subscribe to my newsletter</small><br>
									<input type="text" placeholder="Email">
									<button>Subscribe</button>
								</div>
							</td>
						</tr>
					</tbody>
                </table>
                <hr>
                <p>Copyright &copy; 2021 Suraj Rimal</p>
			</footer>
	</div>

	</body>
</html>
